body{
	margin: 0;
	padding: 0;
	font-family: MontserratLight !important;
}
a{
	text-decoration: none;
	color: #283056;
}
a:hover{
	color: #9c2f2f;
}
::selection{
	color: white;
	background-color: black;
}
#top-head{
	position: relative;
	height: 400px;
	min-width: inherit;
}
#content{
	min-width: 840px;
	/*padding-top: 10px;*/
}
.module-block{
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: [menu]335px [padding]20px [content]auto [padding]20px;
	/*border-bottom: 3px #1a1a1a solid;*/
}
.module-block:last-child{
	border-bottom: 0;
}
.content-block, .menu{
	padding: 10px;
}
.content-block{
	grid-column: content;
	background-color: white;
	border-radius: 4px;
	border: 1px #d2d2d2 solid;
	margin-bottom: 15px;
	text-align: justify;
	position: relative;
	padding: 15px;
	padding-top: 40px;
	padding-bottom: 5px;
	box-shadow: 0 0 25px #00000042;
}
.content-block:not(span){
	font-size: 14px;
	line-height: 25px;
}
.menu-wrap{
	grid-column: menu;
	grid-row-start: 1;
	grid-row-end: 999;
	background-color: rgb(26,26,26);
	position: relative;
}
.menu{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.menu>.menu-topic{
	width: 100%;
	height: 40px;
	text-align: center;
	color: white;
	border-bottom: 1px #6b6b6b solid;
	margin-bottom: 15px;
}
.content-block>span.content-theme{
	width: 100%;
	background-color: #e4e4e4;
	position: absolute;
	top: 0; left: 0;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	display: block;
	border-bottom: 1px #d2d2d2 solid;
}
.content-block>span.content-theme>label{
	margin: 5px;
	padding-left: 15px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}
.content-block>span.last-updated{
	font-size: 12px;
	display: block;
	padding: 5px;
	text-align: right;
}
.topic-module{
	grid-column: content;
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	position: sticky;
	z-index: 9;
	top: 0;
	padding: 5px;
	border-radius: 3px;
	border: 1px #d2d2d2 solid;
	background-color: #e4e4e4;
}
.menu>span.in-progress::before,
.menu>span.ready::before,
.menu>span.not-ready::before{
	content: "";
	width: 7px;
	height: 7px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 12px;
	margin-top: 5px;
	vertical-align: text-top;
}
.menu>span.in-progress::after,
.menu>span.ready::after,
.menu>span.not-ready::after{
	content: ">";
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 0;
}
.menu>span.not-ready::before{
	filter: drop-shadow(0 0 5px #e45555);
	background-color: #e45555;
}
.menu>span.ready::before{
	background-color: #69c169;
	filter: drop-shadow(0 0 5px #69c169);
}
.menu>span.in-progress::before{
	background-color: #e4d155;
	filter: drop-shadow(0 0 5px #e4d155);
}
.topic-module>a{
	color: #828282;
	font-size: 14px;
}
.menu>span{
	display: block;
	color: #fff;
	padding: 15px;
	font-size: 14px;
	padding-top: 7px; padding-bottom: 7px;
	transition: color 500ms;
	position: relative;
}
.menu>span.under-p{
	margin-left: 20px;
	font-size: 12px;
}
.menu>span>a{ color: inherit; }
.menu>span:hover{
	color: #e36e91;
	cursor: pointer;
}
#top-button{
	margin-left: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	bottom: 13%;
	position: absolute;
	z-index: 2;
}
.centered{
	margin: auto;
	display: block;
}
.block{
	background-color: white;
	border-radius: 4px;
	border: 1px rgb(220,220,220) solid;
	width: inherit;
	margin: 15px;
	min-height: 150px;
	box-shadow: 0 0 14px #8282823b;
}
.block-text{
	margin: 10px;
	display: inline-block;
	text-align: justify;
	font-size: 14px;
}
.topic{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 16px;
	display: block;
	font-weight: bold;
}
.topic-info{
	color: #9e9cc4;
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
}
#foot{
	bottom: 0; left: 0;
	width: 100%;
	background-color: rgb(28,28,28);
}
#foot>span{
	font-size: 14px;
	margin: 15px;
	display: inline-block;
	color: whitesmoke;
}
#foot>span:not(#logo){
	margin: 20px;
	margin-right: 5px;
	font-size: .70em;
}
#top-menu{
	height: 50px;
	color: white;
	font-size: 15px;
	margin-top: 20px;
}
#top-menu span{
	padding: 25px;
	cursor: pointer;
	vertical-align: middle;
	transition: color 500ms, border-bottom 1s;
}
#top-menu span:hover{
	color: #f9d6ef;
}
.top-menu-middle{
	width: 357px;
	margin-top: -25px;
}
#top-head-wrapper{
	min-width: inherit;
	position: absolute;
	width: 100%;
	height: inherit;
	top: 0; left: 0;
	min-height: 150px;
	background: linear-gradient(to right bottom, #ce94a9, #999dc7);
	/*background: linear-gradient(to right bottom, #ce6d6d, #daba7f); */
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}
.light-grey-bg{
	background-color: #1a558d;
}
#logo{
	background-image: url(logo.png);
	background-size: cover;
	display: inline-block;
	margin-left: 20px;
	margin-right: 50px;
	width: 140px;
	height: 30px;
	padding: 0 !important;
}
#download-top{
	background-image: url(down.png);
}
#github-top{
	background-image: url(git.png);
	margin-right: 50px;
}
.top-icons{
	background-size: cover;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	float: right;
	width: 30px; height: 30px;
	padding: 0 !important;
}
.top-icons:hover{
	filter: drop-shadow(0 0 10px white);
	-webkit-filter: drop-shadow(0 0 10px white);
}
#secure{
	background-image: url(sicher.png);
}
#easy{
	background-image: url(easy.png);
}
#fast{
	background-image: url(fast.png);
}
.middle-part-icons{
	background-size: 190px 215px;
	background-repeat: no-repeat;
	width: 200px;
	height: 270px;
	display: inline-block;
	margin-left: 35px;
	margin-right: 35px;
	position: relative;
}
.middle-part-icons>button{
	bottom: 0;
	padding: 15px;
	position: absolute;
	width: 200px;
	left: 0;
	background-color: transparent;
	border-radius: 7px;
	border: 1px transparent solid;
	opacity: .5;
	transition: opacity 500ms;
	color: white;

	border-radius: 27px;

	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	/*transition: box-shadow 500ms, color 500ms, background-color 500ms;*/
}

.middle-part-icons>button canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
	z-index: 1;
}

.middle-part-icons:nth-child(1)>button{
	box-shadow: 0 0 25px #ea7690;
	background-color: #ea7690;
}
.middle-part-icons:nth-child(2)>button{
	box-shadow: 0 0 25px #f39857;
	background-color: #f39857;
}
.middle-part-icons:nth-child(3)>button{
	box-shadow: 0 0 25px #a39ae9;
	background-color: #a39ae9;
}
.middle-part-icons>button:hover{
	opacity: 1;
	cursor: pointer;
}

#middle-part{
	width: auto;
	margin-top: 50px;
}
#top-topic{
	color: whitesmoke !important;
	font-size: 24px;
	text-align: center;
	margin-top: 50px;
}
#top-topic span{
	color: #464646;
	font-size: 18px;
}
#top-topic>div{
	width: auto;
	display: inline-block;
	padding: 10px;
	border-bottom: 1px #e4e4e4 solid;
}
#top-topic label{
	cursor: help;
}
#explore-content-pic{
	background-image: url(tomedo.png), linear-gradient(to right bottom, #ebf1fa, #94b2d7);
	box-shadow: inset 0 -9px 14px 1px #00000030;
}
#explore-content-code{
	background-image: url(tomedo-code.png), linear-gradient(to right bottom, #ebf1fa, #94b2d7);
	box-shadow: inset 0 -9px 14px 1px #00000030;
}
.explore-content{
	width: 100%;
	z-index: 5;
	height: 50vh;
	/*feature*/
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
#middle-part-wrapper{
	text-align: center;
	/*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/
	height: 350px;
}
#arrow{
	background-image: url(arrow.png);
	background-size: 40px 40px;
	margin: 5px;
	width: 40px;
	opacity: 1;
	transition: opacity 500ms;
	height: 40px;
	cursor: pointer;
}
#arrow:hover{
	opacity: .7;
}
#thb{
	background-image: url(thb.png);
	background-size: contain;
	margin: 15px;
	background-repeat: no-repeat;
	width: 150px;
	height: 30px;
	float: right;
	filter: brightness(100);
	margin-right: 0;
}

#full-block{
	height: 60vh;
	background-image: url(side2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left bottom;
	position: relative;
}
.btn-liquid {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 50%;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 27%;
	left: 200px;
	transform: rotate(10deg);
	opacity: .65;
	cursor: pointer;
}
.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
	z-index: 1;
}
.content-block>img{
	max-height: 500px;
	max-width: 600px;
	display: block;
	margin: auto;
}
.content-block>img.content-img-l{
	/*max-height: 900px;
	max-width: 720px;*/
	display: block;
	margin: auto;
}
.content-block>a:not(.content-theme){
	color: blue;
}
/*28.10.2018*/
p.file-icon{
	display: block;
	background-image: url(file.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: auto;
	height: 50px;
}
p.file-icon>span{
	margin-left: 50px;
	margin-top: 15px;
	display: inline-block;
}
.content-theme>span{
	display: inline-block;
	padding-right: 10px;
	padding-left:  10px;
	border-radius: 3px;
	float: right;
	margin: 5px;
}
.content-theme>span.info{background-color: #ae5a7a; color: white;}
.content-theme>span.aufgabe{background-color: #6064bc; color: white;}
.content-theme>span.file{background-color: #338335; color: white;}
.content-theme>span.external{background-color: #9c5aae; color: white;}

.content-theme>div{
	display: inline-block;
	float: right;
	margin-right: 20px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: red;
}
th{
	text-align: center;
}
tr:nth-child(odd) {background: #efeff9}
table{
	 border-color: transparent;
	 margin: auto;
}
/*new version start*/
.bg-orange{
	background-color: #f16f55;
}
.bg-blue{
	background-color: #263586;
}
.bg-gray-dark{
	background-color: #343a40;
}
.side-bar{
	width: 300px;
	-ms-flex: 0 0 300px;
    flex: 0 0 300px;
    position: relative;
}
.side-bar-themes>span{
	padding: 5px;
	margin: 10px;
	margin-left: 0;
	padding-left: 50px;
	padding-right: 20px;
	margin-right: 30px;
	display: block;
	border-top-right-radius: 26px;
	border-bottom-right-radius: 26px;
	cursor: pointer;
	transition: background-color 100ms, color 200ms;
}
.side-bar-topic{
	padding: 15px;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
.side-bar-topic>img{
	display: block;
	margin: auto;
}
.side-bar-topic>span{
	margin-top: 10px;
	display: block;
	padding-right: 25px;
	padding-left: 25px;
}
#dsus-container .side-bar-selected,
#dsus-container .side-bar-themes>span:hover{
	color: white;
	background-color: #45607b;
}
#auavid-container .side-bar-selected,
#auavid-container .side-bar-themes>span:hover{
	color: white;
	background-color: #2196F3;
}
.side-bar-themes>span>i{
	width: 30px;
}
@font-face {
    font-family: MontserratExtraBold;
    src: url(Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: MontserratLight;
    src: url(Montserrat-Light.ttf);
}
span.content-topic{
	display: block;
	padding: 12px;
	padding-left: 30px;
	margin-top: 5px;
}
span.content-topic>h2>a{
	color: #3f51b5;
}
.content-body{
	padding: 12px;
	text-align: justify; 
	line-height: 1.75em;
}
.content-body a{
	color: #196fce !important;
}
.content-body>img{
	display: block;
	margin: auto;
}
.last-updated{
	padding: 5px;
	font-size: 12px;
	color: #6c757d!important;
}
.info, .aufgabe, .file, .external{
	display: inline-block;
	padding: 5px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 15px;
	vertical-align: top;
}
.content-topic>.info{background-color: #607d8b; color: white;}
.content-topic>.aufgabe{background-color: #de643e; color: white;}
.content-topic>.file{background-color: #338335; color: white;}
.content-topic>.external{background-color: #9c5aae; color: white;}

header{

}
.blue-block{
	transition: box-shadow 500ms;
	border-radius: 12px;
	height: 100%;
}
.blue-block>img{
	padding: 70px;
}
.blue-block-selected,
.blue-block:hover{
	box-shadow: 0 0 100px #cdd9ef;
	cursor: pointer;
}
.blue-block:hover .block-label{
	background-color: #f16f55;
}
.blue-block .block-label{
	transition: background-color 750ms;
}
.blue-block h4{
	padding: 10px;
}
.block-label{
	background-color: #f16f555c;
	display: block;
	width: 100%;
	margin-bottom: -8px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.head-button button{
	display: inline-block;
	border-radius: 26px;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 0;
	width: auto;
}
.head-button button,
.head-button label{
	cursor: pointer;
}
.head-button{width: 100%}
.head-button a{
	text-decoration: none !important;
}
.container-center{
	display: flex;
	flex-wrap: inherit;
	align-items: center;
}
.head-link>a{
	display: inline-block;
	padding: 8px;
	transition: color 500ms;
	cursor: pointer;
	padding-right: 25px;
}
.head-link>a:hover{
	color: lightcoral !important;
	text-decoration: none;
}
#get-started-b{
	opacity: .8;
	transition: box-shadow 500ms, opacity 500ms;
}
#get-started-b:hover{
	opacity: 1;
	box-shadow: 0 0 25px #5c79ef;
}
table{
	width: 100%;
	max-width: 600px;
}
table th{
	text-align: center;
}
/*new version end*/
